.header
  .header_logo
    BOKETE
  .username
    %span ニックネーム:
  %button{"data-modal": "delete-item", "data-open": "modal", class: "header_user_btn"}
    = link_to current_user.username, user_path(current_user), class: "header_user_name"
  %button{"data-modal": "delete-item", "data-open": "modal", class: "post_theme"}
    = link_to 'お題を投稿', posts_new_path, class: "post_theme_btn"
%main.main_boke_contant
%h1.post_all 投稿一覧
%ul
  - @posts.each do |posts|
    .boke_box
      .box_user_name
        投稿者: 
        = User.find(posts.user_id).username
      .box_theme
        お題: 
        = posts.theme
      .boke_image
        = image_tag posts.image
    .answer_box
      みんなの回答
      -num = 0
      - Answer.where(post_id: posts).order(id: :desc).each do |kaitou|
        .answer-small-box
          .answer_user_name
            = kaitou.user.username
            .answer-body
              .answer_text
                = kaitou.answer
            %hr/
        -num += 1
        -break if num== 3
    .answer_create_btn
      = link_to 'このお題に答える', post_path(posts)
    .other_find
      = link_to 'もっと見る', post_path(posts)
.pagenate
  = paginate @posts
