.boke_box
  .box_user_name
    投稿者:
    = @user.username
  .box_theme
    お題: 
    = @post.theme
  .boke_image
    = image_tag @post.image.to_s
.answer_box_show
  みんなの回答
  - @answers.each do |kaitou|
    .answer-small-box
      .answer_user_name
        = kaitou.user.username
        .answer-body
          .answer_text
            = kaitou.answer
        %hr/
  = form_for [@post, @answer] do |f|
    %textarea{:name => "answer", :placeholder => "text", :rows => "10", :class => "post_text_area", :required => true}
        %br/
    %input{:type => "submit", :value => "回答する", :class => "answer_post_btn"}/